@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
	@include effra(400);
	font-size: 18px;
	line-height: 26px;
}

body {
	background-color: $black;
}

p {
	margin-bottom: 20px;

	&.header {
		font-size: 27px;
		line-height: 29px;
	}

	&.large {
		font-size: 23px;
		line-height: 27px;
	}

	&.small {
		font-size: 14px;
		line-height: 24px;
	}
}

h1 {
	@include effra(900)
	font-size: 48px;
	line-height: 52px;
}

h2 {
	@include effra(700)
	font-size: 24px;
	line-height: 27px;
}

h3 {
	@include effra(700)
	font-size: 14px;
	line-height: 17px;
}

p, h1, h2, h3 {
	color: $black;
	margin: 0px 0px 20px;
}

h1, h2, h3 {
	letter-spacing: .4px;
}

a, a:visited, a:active, a:focus {
	color: $black;
	text-decoration: none;
	outline: 0;
}

a {
	transition: color .2s ease-in-out;

	&:hover {
		color: $white;
	}
}

/*==================================
HELPERS
==================================*/

/*=== Colors ===*/

.white {
	color: $white;
}

/*=== Margins ===*/

.margin_bottom_0 {
	margin-bottom: 0px;
}

/*=== Fonts ===*/

.uppercase {
	text-transform: uppercase;
}

/*==================================
COMPONENTS
==================================*/

/*=== Lists ===*/

ul, ol {
	margin: 0px;
	padding: 0px;
}

/*=== Buttons ===*/

.color_button {
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	padding: 20px 50px;
	background: $white;
	color: $white;
}

.transparent_button {
	display: inline-block;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	padding: 10px 20px;
	background: transparent;
	border: 2px solid;
	color: inherit;
}

/*=== Social Icons ===*/

ul.social_icons li {
    display: inline-block;
    margin-right: 10px;
}

/*=== Close Icon ===*/

.close_icon {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    &::before, &::after {
      background: $black;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
    backface-visibility: hidden;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

/*==================================
GRID
==================================*/

.x_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -7.5px;
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
	position: relative;
	margin: 0px 0px 15px;
	padding: 0px 7.5px;
	float: left;
	display: inline-block;

	img {
		display: block;
	}
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
    	width: 50%;
    }

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
    	width: 100%;
    }
}

/*=== Stretch columns so their content blocks are the same height ===*/

.stretch_height {
    display: flex;
    flex-direction: column;
}

.stretch_height .content {
    position: relative;
 	  display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/*==================================
NAVIGATION
==================================*/

/*=== Mobile Menu ===*/

ul#mobile_menu {
    
    position: relative;
    z-index: 8;
    max-height: 0px;
    opacity: 0;
    list-style-type: none;
    background: white;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    transition: all .5s ease-in-out;

    &.open {
        max-height: 500px;
        opacity: 1;
        z-index: 9;
        margin-bottom: 15px;
    }

}

ul#mobile_menu li {
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    font-size: 14px;

    a {
        color: grey;

        &:hover, &:focus {
            color: orange;
        }
    }
}