@import "compass";
@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
FONTS
==================================*/

body, p, h1, h2, h3 {
	font-family: 'brandon-grotesque', sans-serif;
}

body, p {
	font-size: 20px;
	font-weight: 300;
}

p {
	margin-bottom: 20px;
}

h1 {
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

h3 {
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}
