/*==================================
Button Input
==================================*/

button,
input[type='submit'] {
  -webkit-appearance: none;
}

/*==================================
Buttons
==================================*/

.btn {
  position: relative;
  padding: 20px;
  font-size: 18px;
  line-height: 23px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease-in-out;

  @include mobile_landscape {
    font-size: 18px;
    line-height: 23px;
  }
}

// Primary

.btn--primary {
  background: var(--color-black);
  color: var(--color-white);
  border: 0;

  &:hover {
    background: var(--color-black);
  }
}

// Secondary

.btn--secondary {
  background: var(--color-black);
  color: var(--color-black);

  &:hover {
    background: var(--color-black);
    color: var(--color-black);
  }
}

// Disabled {

.btn--disabled {
  background: var(--color-black);
  color: var(--color-white);
}

// Full Width

.btn--full-width {
  display: block;
  width: 100%;
}
