/*================
COLORS
================*/

// Neutrals

$white: #FFFFFF;
$black: #000000;

// Greys

// Vibrants

/*================
EASINGS
================*/

$bounceIn: cubic-bezier(.25,1.7,.35,.8);